.menu-items {
    position: fixed;
    display: table;
}

.menu-item-row {
    display: table-row;
}

.menu-item {
    height: 35px;
    width: 210px;
    background-color: azure;
    border-bottom: 1px solid lightgray;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}